.direction-container {
  /* flex container */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  box-sizing: border-box;
  height: calc(100% - 60px);
}

.button-container {
  /* flex item */
  flex-basis: calc(10% - 6px); /* height of container */

  /* flex container */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* flex item */
.button-container > button {
  flex-basis: calc(25% - 8px);
  background-color: steelblue;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px;
  cursor: pointer;
}

.button-container > button:hover {
  background-color: cadetblue;
}

.flex-container {
  /* flex item */
  flex-basis: calc(90% - 6px); /* height of container */

  /* flex container */
  display: flex;
  justify-content: space-between;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column-reverse {
  flex-direction: column-reverse;
}

.flex-item {
  /* flex item */
  flex-basis: calc(33.333333333% - 8px);
  padding: 12px;
  box-sizing: border-box;
  border-radius: 4px;

  /* flex container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-item:first-child {
  background-color: tomato;
}

.flex-item:nth-child(2) {
  background-color: darkslateblue;
}

.flex-item:last-child {
  background-color: teal;
}
