.button-container {
  /* flex item */
  flex-basis: 10%;

  /* flex container */
  display: flex;
  gap: 0 12px;
}

.button-container > button {
  /* flex item */
  flex-basis: 16.666666666%;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}
